node_modules
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*
.npm
web_modules/
/.blitz/
*.sqlite
*.sqlite-journal
.now
.blitz**
blitz-log.log
.DS_Store
logs
*.log

pids
*.pid
*.seed
*.pid.lock


.coverage
*.lcov
.nyc_output
lib-cov


*.tsbuildinfo
.eslintcache
.node_repl_history
.yarn-integrity

.serverless/

.vscode-test

